// .light{
//     @red: red
// }
// .dark{
//     @red: blue
// }
@yellow: #222;
@black: rgba(31, 31, 31, 1.0);
@red: #DA411F;
.app_back_red{
    background: @red;
}
.app_color_red{
    color: @red;
}
.app_back_black{
    background: @black;
}
.app_color_black{
    color: @black;
}
.app_back_yellow{
    background: @yellow;
}
.app_color_yellow{
    color: @yellow;
}